.text {
  color: red;
}

img {
  width: 15rem;
  height: 15rem;
}

.container {
  border-width: 0.1rem;
  border-color: black;
  border: solid;
  width: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
